body {
  background: url(../img/fon-top.png) no-repeat;
  background-size: contain;
}
.card-block {
  padding: 15px 70px;
  border: 2px solid #83b63f;
  border-radius: 15px;
  min-height: 175px;
}
.card-block span {
  color: #fff;
  font-weight: 100;
}
.card-block:hover {
  background: green;
}
.header {
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.5;
  color: #0f0f0f;
}
span {
  font-size: 25px;
  text-transform: uppercase;
  line-height: 1.5;
}
